body {
    font-family: "Lato", sans-serif;
    font-size: larger;
    line-height: 300%;
    letter-spacing: 2px;
    display: flex;
    background-image: linear-gradient(45deg, #5C9129, #8BBF58);
    height: 100vh;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}

.text-container {
    position: relative;
    height: auto;
    background: rgba(255,255,255,0.7);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#text-form {
    justify-items: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#text-form input {
    margin: 15px;
}

.question-container {
    background: #8BBF58;
    line-height: 150%;
    padding: 20px;
    height: 80vh;
}

input[type=text] {
    line-height: 200%;
    text-align: center;
    border-radius: 1em;
    outline: none;
    border: none;
}

input[type=submit] {
    color: white;
    outline: none;
    background-color: #993166;
    padding: 5px;
    border-radius: 1em;
}


.submit {
    color: white;
    outline: none;
    background-color: #993166;
    padding: 12px;
    font-weight: bold;
    border: none;
    border-radius: 1em;
}

#button {
    position: relative;
    top: 40%;
    left: 0;
    margin-right: 30px;
}

#submit {
    font-size: x-large;
    position: absolute;
    top: 82%;
    left: 82%;
    font-family: "Amatic SC", sans-serif;
}

#theme {
    font-size: xx-large;
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
}

#theme::placeholder {
    color: #8BBF58;
}

#long-text {
    font-size: large;
    color: black;
}

.container {
    position: relative;
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    /*background-image: url("/static/images/math.jpg");*/
}

.questions {
    width: 600px;
    height: 10px;
    outline: none;
    border-radius: 20%;
    padding: 20px;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-size: large;
    /*background: #993166;*/
    margin-top: 80px;
    /*margin-left: 180px;*/
}

button {
    border-radius: 20px;
    border: 1px solid #993166;
    background: #993166;
    background: linear-gradient(to left, #993166, #993152);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

textarea {
    height: 50vh;
    width: 25vw;
}