 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


p {
    font-family: 'Lato';
    font-size: 26px;
    margin: 10px;
}

button {
    border-radius: 20px;
    border: 1px solid #993166;
    background: #993166;
    background: linear-gradient(to left, #993166, #993152);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active, .image-upload:active {
    transform: scale(0.95);
}

button:focus, .image-upload:focus {
    outline: none;
}


body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #5C9129, #8BBF58);
    overflow: hidden;
}

.circle1 {
    background-color: rgba(92, 145, 35, 0.6);
    width: 40%;
    padding-top: 40%;
    border-radius: 50%;
    position: absolute;
    top: -40%;
    right: -10%;
    z-index: -1;
}

.circle2 {
    background-image: linear-gradient(45deg, #5C9129, #8BBF58);
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    position: absolute;
    bottom: -120%;
    left: -30%;
    z-index: -2;
}

.main {
    height: 80vh;
    width: 60%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    filter: drop-shadow(11px 5px 25px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Lato';
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.card {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    padding: 15px 25px;
    margin: 10px 10px;
}


.form-container input, .card input {
    background: #eee;
    border-radius: 30px;
    border: solid 1px rgba(0,0,0,0.4);
    padding: 12px 15px;
    width: 100%;
}

input:focus {
    transition: 0.5s;
    background: white;
    outline: none;
}

#correct-answer:focus{
    background: rgba(92, 145, 35, 0.9);
    color: white;
}
