* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    font-family: "Amatic SC";
    font-size: 38px;
    margin-bottom: 80px;
}

p {
    font-family: 'Lato';
    font-size: 26px;
    margin: 10px;
}

button {
    border-radius: 20px;
    border: 1px solid #993166;
    background: #993166;
    background: linear-gradient(to left, #993166, #993152);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.card button{
    border-radius: 20px;
    border: 1px solid #5C9129;
    background: #5C9129;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}


body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #5C9129, #8BBF58);
    overflow: hidden;
}

.circle1 {
    background-color: rgba(92, 145, 35, 0.6);
    width: 40%;
    padding-top: 40%;
    border-radius: 50%;
    position: absolute;
    top: -40%;
    right: -10%;
    z-index: -1;
}

.circle2 {
    background-image: linear-gradient(45deg, #5C9129, #8BBF58);
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    position: absolute;
    bottom: -120%;
    left: -30%;
    z-index: -2;
}

.main {
    height: 80vh;
    width: 80%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    filter: drop-shadow(11px 5px 25px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(10px);
    padding: 20px;
}

.listening-game{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.answers{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.possibilities.selected{
    color: white;
    border: 1px solid #5C9129;
    background: #993166;
    background: linear-gradient(to left, #993166, #993152);

}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    margin: 0 15px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.play {
    width: 100%;
    padding:0 25%;
}
