* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #5C9129, #8BBF58);
    overflow: hidden;
}

.container {
    position: relative;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    /*background-image: url("/static/images/math.jpg");*/
}

h2 {
    font-family: "Amatic SC";
    font-size: 38px;
    margin-bottom: 80px;
}

.word-container {
    height: 80vh;
    width: 23vw;
    background: white;
}

.category-container {
    background: #8BBF58;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    width: 50vw;
    height: 80vh;
    justify-content: center;
    padding: 20px;
}

#addWord {
    width: max-content;
    height: 35px;
    font-size: large;
    background-color: #993166;
    border-radius: 15px;
    color: white;
    margin: 10px;
    padding: 5px;
    font-family: Lato, sans-serif;
}

input{
    border-radius: 15px;
    border: solid 1px rgba(0,0,0,0.4);
    margin: 10px;
    padding: 5px;
    font-family: Lato, sans-serif;
}

input.words {
    font-size: x-large;
    color: white;
    border: none;
    border-radius: 15px;
    background: #8BBF58;
    font-family: Lato, sans-serif;
}

.category-card {
    width: 300px;
    height: 250px;
    background: white;
    border-radius: 30px;
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-size: xxx-large;
    position: relative;
}

p.words {
    text-align: center;
    align-content: center;
    font-size: large;
    color: white;
    margin: 10px;
    /*width: 80px;*/
    height: 28px;
    box-shadow: none;
    border-radius: 15px;
    background: #8BBF58;
    font-family: "Lato", sans-serif;
}

.borderless {
    border: none;
    text-align: center;
    align-content: center;
    font-size: large;
    color: #993166;
    position: absolute;
    top: 35%;
    left: 15%;
}

#theme-adder {
    width: 300px;
    height: 250px;
    outline: none;
    border-radius: 20%;
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-size: xxx-large;
    background: #993166;
    margin-top: 80px;
    margin-left: 180px;
}
#word-source {
    border: solid 1px #993166;
}

#word-source::placeholder {
    color: white;
}

.dragging {
    opacity: 0.5;
    border: 3px solid #993166;
}

.submit {
    font-size: xx-large;
    padding: 10px;
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
}

#word-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

button {
    border-radius: 20px;
    border: 1px solid #993166;
    background: #993166;
    background: linear-gradient(to left, #993166, #993152);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 10px;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

label{
    font-family: "Amatic SC";
    font-size: 36px;
}



