<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style/exercises.css"/>
    <link rel="stylesheet" href="../static/style/navigation.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato&display=swap"
          rel="stylesheet">
    <script src="/static/js/exercises.js" defer></script>
    <meta charset="UTF-8">
    <title>Feladatok</title>
</head>
<body>
{% include "navigation.html" %}
<div class="circle1"></div>
<div class="circle2"></div>
<div class="main">
    <div class="exercise" id="game-list/memory-game"><h2>Memória játék</h2></div>
    <div class="exercise" id="game-list/matching-game"><h2>Összekötő játék</h2></div>
    <div class="exercise" id="listening-games"><h2>Hallgatás</h2></div>
    <div class="exercise" id="game-list/comprehensive-reading"><h2>Olvasás</h2></div>
    <div class="exercise" id="game-list/sorting-game"><h2>Kategória választó</h2></div>
    <div class="exercise" id="game-list/filling-game"><h2>Kiegészítés</h2></div>
</div>

</body>
</html>