<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Értékelés</title>
    <link href="../static/style/feedback.css" rel='stylesheet'>
    <link href="../static/style/navigation.css" rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato&display=swap"
          rel="stylesheet">
</head>
<body>
{% include "navigation.html" %}
<div class="circle1"></div>
<div class="circle2"></div>
<div class="main">
    <form action="/feedback/{{ student_id }}" method="post">
        <div class="feedback-form">
            <label for="title"><h2>Tárgy:</h2></label>
            <input type="text" id="title" name="title">
            <div class="text-area">
                <label for="feedback"><h2>Értékelés:</h2></label>
                <textarea type="text" id="feedback" name="feedback"></textarea>
            </div>
            <button type="submit">Küldés</button>
        </div>
    </form>
</div>
</body>
</html>