<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kiegészítés</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/filling-game.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/navigation.css') }}"/>
</head>
<body>
{% include "navigation.html" %}
<div class="circle1"></div>
<div class="circle2"></div>
<section class="filling-game" id="{{game_id}}">
    <div class="container-card">
        <h2 id="theme"></h2>
        <div class="filling-container"></div>
            <button id="save"> Beküldés </button>
    </div>
</section>
<script type="module" src="{{ url_for('static', filename='js/fillingGame.js') }}"></script>
</body>
</html>