{% extends 'template.html' %}
{% block title %} Szöveg kiegészítés {% endblock %}
{% block head %}
<meta charset="UTF-8">
<link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
<script src="/static/js/fillingUpload.js" defer></script>
{% endblock %}
{% block content %}
<div class="main-card">
    <form>
        <input type="text" name="theme" placeholder="Téma" id="theme" required>
        <input type="text" name="text" id="text-inserter" placeholder="Szöveg helye">
    </form>
    <button id="texter" class="purple button">Új szöveges mező</button>
    <button id="gapper" class="green button">Új üres mező</button>
    <button class="purple submit" id="submit">Mentés</button>
</div>
{% endblock %}