<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hallgatás játék feltöltés</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/listeningGameUpload.js') }}" defer></script>
</head>
<body>
<div class="circle1"></div>
<div class="circle2"></div>
<div class="form-container">
    <label for="theme"> Téma: </label>
    <input type="text" id="theme" required>
    <label for="language"> Nyelv: </label>
    <select name="language" id="language" required>
        {% for language in languages %}
        <option value="{{language['voice_code']}}">{{ language['language'] }}</option>  <br><br>
        {% endfor %}
    </select>

    {% for n in range(6) %}
    <br><br>
    <div class="card">
    <label for="correct-answer"> Helyes válasz: </label>
    <input type="text" class="card {{n}}" data-name="{{n}}" id="correct-answer"  required>
    <h4> Helytelen válaszok: </h4>
    <input type="text" class="card {{n}}"  data-name="{{n}}" name="text" required><br><br>
    <input type="text"  class="card {{n}}" data-name="{{n}}" name="text" required><br><br>
    </div>

    {% endfor %}
    <button id="save">
        Mentés
    </button>
</div>
</body>
</html>








