<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style/exercises.css"/>
    <link rel="stylesheet" href="../static/style/navigation.css"/>
    <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
    <script src="/static/js/exercises.js" defer></script>
    <meta charset="UTF-8">
    <title>Új feladat</title>
</head>
<body>
{% include "navigation.html" %}

    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="main">
        <div class="exercise" id="save/pictures/memory-game">Memória játék</div>
        <div class="exercise" id="save/pictures/matching-game">Összekötő játék</div>
        <div class="exercise" id="listening-game-upload">Hallgatás</div>
        <div class="exercise" id="comprehensive-reading-upload">Olvasás</div>
        <div class="exercise" id="sorting-game-upload">Kategória választó</div>
        <div class="exercise" id="filling-gaps-upload">Kiegészítés</div>
    </div>

</body>
</html>