<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feltöltés</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/picture_upload.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/navigation.css') }}">


    <script type="module" src="{{ url_for('static', filename='js/pictureGameSaver.js') }}" defer></script>
</head>
<body>
{% include "navigation.html" %}
<div class="circle1"></div>
<div class="circle2"></div>
<div class="main">
    <div class="form-container" id="{{ game_type }}">
        <div class="exercise-head">
            <div class="head-content">
                <label for="language"><h2> Nyelv </h2></label>
                <input type="text" id="language" name="language" required>
            </div>
            <div class="head-content">
                <label for="theme"><h2> Téma </h2></label>
                <input type="text" id="theme" name="theme" required>
            </div>
        </div>

        {% for n in range(6) %}
            <div class="upload">
                <div class="upload-content">
                    <label for="fileId"> Kép </label>
                    <input type="file" name="" id="fileId" class="image" required>
                </div>
                <div class="upload-content">
                    <label for="text"> Szöveg </label>
                    <input type="text" id="text" class="text" name="text" required>
                </div>
            </div>
        {% endfor %}
        <button id="save">
            Mentés
        </button>
    </div>
</div>
</body>
</html>