<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feladat küldés</title>
    <link href="/static/style/send-task.css" rel='stylesheet'>
    <link href="/static/style/navigation.css" rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato&display=swap"
          rel="stylesheet">
</head>
<body>
{% include "navigation.html" %}
<div class="circle1"></div>
<div class="circle2"></div>
<div class="main">
    <h2>Diák keresése</h2>
    <div class="filter">
        <div class="search-bar">
            <h3>Nyelv: </h3>
            <input type="text" id="language">
            <h3>E-mail: </h3>
            <input type="text" id="email">
            <h3>Kor: </h3>
            <input type="text" id="age">
        </div>
        <div class="results">
            <div class="table-container">
                <table id="container">
                </table>
            </div>
        </div>
    </div>
    <button class="send" id="/send/{{ game_type }}/{{ game_id }}"> Küldés</button>
</div>

<script  type="module" src="/static/js/sendTask.js"></script>
<script type="module" src="/static/js/searchStudents.js" ></script>

</body>
