<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feladat küldés</title>
    <link href="/static/style/send-task.css" rel='stylesheet'>
    <link href="/static/style/navigation.css" rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato&display=swap"
          rel="stylesheet">
</head>
<body>

{% include "navigation.html" %}
<div class="circle1"></div>
<div class="circle2"></div>
<div class="main" style="justify-content: center">
  <h2> Fejlesztés alatt </h2>
</div>

</body>
